---
import config from '~@/config';

interface Props {
  avatar?: string;
}

// const { avatar = config.avatar } = Astro.props;
---

<header>
  <div class="mb-9 h-14 w-14 whitespace-nowrap text-[0px]">
    <!-- <img
      class="block h-full w-full rounded-full border-2 border-white bg-slate2 shadow-xs outline-1 outline-slate3"
      src={avatar}
      alt={config.title}
      draggable="false"
    /> -->
    <span>{config.title}</span>
  </div>
</header>
