---
import Container from '@/components/Container.astro';
import { AvatarComponent } from '@/components/ui/avatar';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
	<Container>
	<div class="flex-">
		<h1 class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0">Hello, I'm Amornthep Sapkalyod!</h1>
	</div>
	<p class="leading-7 [&:not(:first-child)]:mt-6">
		Welcome to my website.
	</p>
	</Container>
</BaseLayout>
