---
import Container from './Container.astro';
import { ModeToggle } from './ui/mode-toggle';

const today = new Date();
---

<footer>
	<Container>
		<div class="flex flex-wrap gap-y-2 justify-between my-4 items-center content-center">
			<div>&copy; {today.getFullYear()} | amornpic.</div>
			<div><ModeToggle client:load /></div>
		</div>
	</Container>
</footer>
