---
import HeaderLink from '@/components/HeaderLink.astro';
import Container from './Container.astro';
---

<header>
<Container>
	<div class="flex flex-wrap justify-between items-center py-4">
		<HeaderLink href="/" class="font-semibold">amornpic</HeaderLink>
		<nav class="flex gap-1 items-center">
			<HeaderLink href="/blog">blog</HeaderLink>
			<span>{`|`}</span>
			<HeaderLink href="/about-me">about me</HeaderLink>
		</nav>
	</div>
</Container>
</header>
